.page-post body {
 	position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to top right, rgba(0,132,255, 0.9) 50%, rgba(0,132,255,.1) 50%);
  background-size: 100% calc(100% - 100vh + 5px);
  z-index: 1;
}

.page-post body::after {
  content: "";
  position: fixed;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

.article-content a {
  color: rgba(0,132,255, 0.9);
}

a:hover {
	color: rgba(0,132,255, 0.9) !important;
}

.highlight .html, .gutter{
  display: none
}

.highlight {
  background: black;
}

.pagination .next,
.pagination .prev {
  display: none !important;
}

code,
figure.highlight {
  padding-top: 40px;
  background: rgb(39, 40, 34) !important;
  color: rgb(248, 248, 242) !important;
  position: relative;
}
code {
  padding: 0;
  position: relative;
}

.highlight::after {
  top: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 95, 86);
  content: '';
}

.highlight::before {
  top: 12px;
  left: 40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 189, 46);
  content: '';
}