.page-post body {
 	position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to top right, rgba(0,132,255, 0.9) 50%, rgba(0,132,255,.1) 50%);
  background-size: 100% calc(100% - 100vh + 5px);
  z-index: 1;
}

.page-post body::after {
  content: "";
  position: fixed;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

.article-content a {
  color: rgba(0,132,255, 0.9);
}

a:hover {
	color: rgba(0,132,255, 0.9) !important;
}

.highlight .html, .gutter{
  display: none
}

.highlight {
  background: black;
}

.pagination .next,
.pagination .prev {
  display: none !important;
}