* {
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background: rgba(150, 220, 230, 0.9);
}

.content {
  background: #FFF;
  margin-top: 0 !important;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .content {
    width: 900px !important;
    padding: 50px !important;
  }
  .toc-article {
    margin-left: 500px;
  }
}

.article-content h1 {
  font-size: 22px;
  margin-top: 52px;
}
.article-content h2 {
  font-size: 18px;
  margin-top:18px;
}

.article-content blockquote {
  background: rgba(0, 0, 0, 0.02);
  border-left: 6px solid #6190e8;
  padding: 1px 10px;
  border-radius: 5px;
  margin: 0 14px 14px;
  opacity: 0.9;
}

.article-content blockquote  p {
  line-height: 24px;
  border-radius: 5px;
  font-size: 14px;
}
.article-content li {
  margin-bottom: 10px;
}


.layout {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: url(https://img.zcool.cn/community/01c9905b858a3ca8012126ce7c37c0.jpg@1280w_1l_0o_100sh.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.layout .category-box{
  margin-top: 100px;
}


.layout .content-category-wrap .item-post .post-title {
  font-size: 12px;
  text-overflow: ellipsis;
}

.layout .content-category {
  font-size: 12px;
  width: 100%;
}

.layout .content-category-wrap {
  position: relative;
  padding-left: 20px;
  width: 600px;
  height: 100vh;
  overflow: hidden scroll;
}

.content-category-wrap::-webkit-scrollbar {
  display: none;
}

.layout .content-home {
  position: relative;
}

.content-home .slogan,
.content-home .name {
  margin: 12px 0;
  color: #333333;
}

.article-content a {
  color: rgba(0,132,255, 0.9);
}

.page-header {
  margin-bottom: 0px !important;
}

.page-header .list-toolbox {
  display: block !important;
}

a:hover {
	color: rgba(0,132,255, 0.9) !important;
}

.pagination .next,
.pagination .prev {
  display: none !important;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* code,

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
  color: #abb2bf;
}

.highlight .html, .gutter{
  display: none
}

.highlight {
  background: black;
}
figure.highlight {
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.7) !important;
  background: rgba(0, 0, 0, 1) !important;
  position: relative;
}

code {
  padding: 2px 4px;
  position: relative;
}

.highlight pre {
  white-space: pre !important;
}

.highlight::after {
  top: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 95, 86);
  content: '';
}


.highlight::before {
  top: 12px;
  left: 40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 189, 46);
  content: '';
} */

.box-blog-info {
  display: flex !important;
  align-items: center;
  margin-top: 20px;
}

.toolbox-list {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.item-toolbox a {
  display: inline-block;
  font-size: 12px;
  line-height: 40px;
  width: 40px;
  display: inline-block;
  height: 40px;
  margin-right: 12px;
  transition-duration: .5s;
  text-align: center;
  color: #555;
  border-radius: 20px;
  background: #f0f0f0;
  transition: box-shadow .3s ease-in-out
}

.item-toolbox a:hover {
  box-shadow: 0 0 0 3px #e6f7ff;
  background: #e6f7ff !important;
  color: #1890ff !important;
}

.gt-btn {
  background: #0084ff !important;
  opacity: 0.9;
}
.gt-btn:hover {
  opacity: 1;
  transition-duration: .5s;
}

.gt-btn-text {
  color: #FFF;
}


.content.content-search .wrap-search-box {
  margin-top: 20px;
}

.content.content-link .link-list .link-item .link-url {
  display: flex;
}

.content.content-link .link-list .link-item .wrap-info {
  margin-left: 12px;
  flex-direction: column;
  display: flex !important;
  justify-content: space-between !important;
}

.content.content-link .link-list .link-item {
  padding: 12px 0;
}

.link-list .link-item .info {
  font-size: 12px !important;
}


.box-prev-next {
  margin-top: 20px;
}

.layout .category-box {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-box .category-list {
  margin-left: 0;
}

.layout .category-box .category-list .category-item .category-size {
  font-family: serif;
  font-weight: bold;
}

.category-box--top {
  margin-bottom: 15px;
}

@media screen and (max-width: 450px) {
  .layout {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(https://img.zcool.cn/community/01c9905b858a3ca8012126ce7c37c0.jpg@1280w_1l_0o_100sh.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .layout .category-box,
  .layout .content-category-wrap {
    display: none;
  }
}