* {
  transition-duration: .5s;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100vh;
}

.article-content blockquote {
  background: #FFF;
  padding: 2px 10px
}
.article-content blockquote  p {
  line-height: 1em;
  font-size: 13px;
}

.page-header {
  background: transparent;
}

body {
  background: rgba(80, 213, 227, 0.35);
}


.layout {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: url(https://img.zcool.cn/community/01c9905b858a3ca8012126ce7c37c0.jpg@1280w_1l_0o_100sh.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.layout .category-box{
  margin-top: 100px;
}


.layout .content-category-wrap .item-post .post-title {
  font-size: 12px;
  text-overflow: ellipsis;
}

.layout .content-category {
  font-size: 12px;
  width: 100%;
}

.layout .content-category-wrap {
  position: relative;
  padding-left: 20px;
  width: 600px;
  height: 100vh;
  overflow: hidden scroll;
}

.content-category-wrap::-webkit-scrollbar {
  display: none;
}

.layout .content-home {
  position: relative;
}

.content-home .slogan,
.content-home .name {
  margin: 12px 0;
  color: #333333;
}

.article-content a {
  color: rgba(0,132,255, 0.9);
}

.content.content-archive .toolbox {
  margin-left: -30px;
}

.page-header {
  margin-bottom: 0px !important;
}

.page-header .list-toolbox {
  display: block !important;
}


a:hover {
	color: #1890ff !important;
}

.highlight .html, .gutter{
  display: none
}

.highlight {
  background: black;
}

.pagination .next,
.pagination .prev {
  display: none !important;
}

code,
figure.highlight {
  padding-top: 40px;
  background: rgb(39, 40, 34) !important;
  color: rgb(248, 248, 242) !important;
  position: relative;
}

code {
  padding: 2px 4px;
  position: relative;
}


.highlight::after {
  top: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 95, 86);
  content: '';
}


.highlight::before {
  top: 12px;
  left: 40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background: rgb(255, 189, 46);
  content: '';
}

.box-blog-info {
  display: flex !important;
  align-items: center;
  margin-top: 20px;
}

.toolbox-list {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.item-toolbox a {
  display: inline-block;
  font-size: 12px;
  line-height: 40px;
  width: 40px;
  display: inline-block;
  height: 40px;
  margin-right: 12px;
  transition-duration: .5s;
  text-align: center;
  color: #555;
  border-radius: 20px;
  background: #f0f0f0;
  transition: box-shadow .3s ease-in-out
}

.item-toolbox a:hover {
  box-shadow: 0 0 0 3px #e6f7ff;;
  background: #e6f7ff !important;
  color: #1890ff !important;
}

.gt-btn {
  background: #0084ff !important;
  opacity: 0.9;
}
.gt-btn:hover {
  opacity: 1;
  transition-duration: .5s;
}

.gt-btn-text {
  color: #FFF;
}


.content.content-search .wrap-search-box {
  margin-top: 20px;
}

.content.content-link .link-list .link-item .link-url {
  display: flex;
}

.content.content-link .link-list .link-item .wrap-info {
  margin-left: 12px;
  flex-direction: column;
  display: flex !important;
  justify-content: space-between !important;
}

.content.content-link .link-list .link-item {
  padding: 12px 0;
}

.link-list .link-item .info {
  font-size: 12px !important;
}


.box-prev-next {
  margin-top: 0px;
}

.layout .category-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout .category-box .category-list .category-item .category-size {
  font-family: serif;
  font-weight: bold;
}

.category-box--top {
  margin-bottom: 15px;
}